{% extends "base.html" %}

{% block content %}
<div class="admin-container">
    <h2>Editar {{ tabla }} (ID {{ registro.id }})</h2>

    <form method="POST">
        {% for col in columnas %}
            {% if col.Field != "id" %}
                <label>{{ col.Field }}</label>

                {% if "text" in col.Type %}
                    <textarea name="{{ col.Field }}" class="form-control">{{ registro[col.Field] }}</textarea>

                {% elif "int" in col.Type or "decimal" in col.Type %}
                    <input type="number" name="{{ col.Field }}" value="{{ registro[col.Field] }}" class="form-control">

                {% else %}
                    <input type="text" name="{{ col.Field }}" value="{{ registro[col.Field] }}" class="form-control">
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn">Guardar</button>
    </form>
</div>
{% endblock %}
