<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Portfolio — Mateo{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <canvas id="fogCanvas"></canvas>

  <header>
    <h1>Portfolio — Mateo</h1>
    <nav>
      <a href="{{ url_for('inicio') }}">Inicio</a>
      <a href="{{ url_for('sobre_mi') }}">Sobre mí</a>
      <a href="{{ url_for('personal') }}">Personal</a>
      <a href="{{ url_for('trayecto') }}">Trayecto</a>
      <a href="{{ url_for('proyectos') }}">Proyectos</a>
      <a href="{{ url_for('login') }}">Login</a>


    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="footer-content">
      <small>© 2025 — Mateo Ricaud</small>
    </div>
    <img src="https://i.postimg.cc/FsX5sKwp/ruin_2816616_960_720.webp" alt="ruins">
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="{{ url_for('static', filename='js/fog.js') }}"></script>

  <div id="hand-cursor">
      <img src="{{ url_for('static', filename='img/mano1.png') }}" alt="hand">
  </div>
  <script src="{{ url_for('static', filename='js/hand.js') }}"></script>

</body>

</html>