{% extends "base.html" %}
{% block title %}Inicio — Mateo{% endblock %}

{% block content %}

<div class="intro-section" style="display: flex; align-items: center; gap: 2rem; flex-wrap: wrap; padding: 3rem;">
    
    <div class="intro-img" style="flex: 1 1 300px; display: flex; justify-content: center;">
        <img src="{{ persona.fondo_url }}" alt="Foto de Mateo" style="width: 30vw; height: auto; border-radius: 3vw; padding-right: 4vw;">
    </div>

    <div class="intro-text" style="flex: 2 1 300px;">
        <h2 style="margin-bottom: 1rem;">{{ datos.titulo }}</h2>
        <p style="line-height: 1.6; padding-bottom: 3rem;">{{ datos.texto }}</p>
        <hr >
        <div class="extra-info" style="padding-top: 3rem;">
            <h3>Sobre mí</h3>

            <ul>
                <li><strong>Nombre:</strong> {{ persona.nombre }}</li>
                <li><strong>Edad:</strong> {{ persona.edad }}</li>
                <li><strong>País:</strong> {{ persona.pais }}</li>
                <li><strong>Ocupacion:</strong> {{ persona.ocupacion }}</li>
            </ul>
        </div>
    </div>

</div>





{% if session.user_id %}
<a class="btn btn-warning btn-sm"
    href="{{ url_for('admin_contenido_editar', seccion='index') }}">
    Editar esta sección
</a>
{% endif %}

{% endblock %}
