<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Pantalla de Inicio</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <canvas id="fogCanvas"></canvas>

  <div id="hand-cursor" style="width: 15rem;">
    <img src="{{ url_for('static', filename='img/mano1.png') }}" alt="hand">
  </div>

  <div class="start-container">
    <img class="start-image" src="{{ url_for('static', filename='img/manoss.webp') }}" alt="img">
    <a href="{{ url_for('inicio') }}" class="glow"></a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="{{ url_for('static', filename='js/fog.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hand.js') }}"></script>

</body>
</html>
