{% extends "base.html" %}

{% block content %}
<h1>{{ page.titulo }}</h1>
<p>{{ page.texto }}</p>

<ul class="lista">
    {% for dato in datos %}
    <li>
        <strong>{{ dato.campo }}:</strong> {{ dato.valor }}
    </li>
    {% endfor %}
</ul>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita praesentium pariatur sed id aspernatur iusto accusamus ullam commodi. Fugit, cupiditate accusantium. Quod, omnis sed facere ut reiciendis expedita quas explicabo.</h1>
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem vitae nulla nihil aspernatur iusto ipsam iure nemo porro sed quis asperiores impedit laboriosam quisquam, consectetur eius sapiente quaerat atque soluta.</h1>
<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit atque quae numquam voluptates praesentium quia rerum, beatae excepturi autem ipsa provident, sit facilis. Alias harum sapiente architecto quam ex reiciendis.</h1>
{% endblock %}