{% extends "base.html" %}
{% block title %}Sobre mí — Portfolio{% endblock %}

{% block content %}

{% if datos %}
<section class="hero" style="background: url('{{ datos.fondo_url }}') center/cover fixed;">
    <div class="hero-inner">
        <img src="{{ datos.avatar_url }}" alt="Avatar" style="
      width:130px;
      height:130px;
      border-radius:50%;
      border:3px solid var(--accent);
      margin-bottom:18px;
    ">
        <h2>{{ datos.nombre }}</h2>
        <p style="color:var(--muted); margin-top:10px;">{{ page.texto }}</p>
    </div>
</section>

<div class="container">
    <div class="card">
        <h2>{{ page.titulo }}</h2>
        <p>{{ datos.descripcion }}</p>
    </div>
</div>
{% endif %}

{% endblock %}